<html>
    <head>
        <title>Contacts</title>

    </head>
    <body>
        <h1>Your Contacts:</h1>

<!-- lists all contacts -->

        {% if contacts is empty %}
            <h2>No contacts found... Add contacts below!</h2>

            {% else %}
            <h3> Here are all of your contacts:</h3>
            <ul>
                {% for contact in contacts %}
                <li>Name: {{ contact.getName }}</li>
                <li>Phone Number: {{ contact.getPhone }}</li>
                <li>Address: {{ contact.getAddress }}</li>
                <br>
                {% endfor %}
            </ul>
        {% endif %}

<!--create contact form-->

        <form id="create_contact" name= "create_contact" action="/create_contact" method="post">

            <label for="create_name">Name</label>
            <input type="text" name="create_name" id="create_name">

            <label for="create_phone">Phone Number</label>
            <input type="text" name="create_phone" id="create_phone">

            <label for="create_address">Address</label>
            <input type="text" name="create_address" id="creeate_address">

            <button name="submit">Submit</button>
        </form>


<!--delete button -->

        <form id="delete" name="delete" action="/delete_contacts" method="post">
            <button name="delete">Clear ALL Contacts</button>
        </form>

    </body>
</html>
