<html>
    <head>
        <title>New Contact!</title>
    </head>
    <body>
        <h1>You created an new contact!</h1>
            {% for contact in contacts %}

        <p>{{ contact.getcreate_name }}</p>

            {% endfor %}


        <a href="/">Home</a>
    </body>
</html>
