<html>
    <head>
        <title>New Contact!</title>
    </head>
    <body>
        <h1>You created an new contact!</h1>


        <p>{{ new_contact.getContact }}</p>


        <a href="/">Home</a>
    </body>
</html>
