<html>
    <head>
        <title>Contacts Deleted</title>
    </head>
    <body>
        <h1>Address book cleared!</h1>

        <a href="/">Click here to return back to your contacts</a>

    </body>
</html>
